@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:wght@500&family=Poppins&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading1 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0 50px 0;
  text-align: center;
}

div {
  display: block;
}

nav a {
  text-decoration: none;
  color: red;
  font-weight: 700;
  font-size: 18px;
}

.cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.382);
  transition: transform 0.3s ease-in-out;
  font-size: 14px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5%;
}

.card p {
  margin: 0;
  margin-top: 16px;
  text-align: justify;
}

.container {
  margin: 25px 80px 25px 80px;
}

.card b {
  font-size: 18px;
}

.section {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.image-section {
  flex: 1;
  background: #333;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.text-section {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  width: 100px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.copyright {
  margin-top: 5px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  font-weight: bold;
  font-size: 18px;
}

.swiper-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.data {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0 100px 0 100px;
}
